
<!-- <div class="mt-5 ms-5 container">
  <h1>Hola amigos</h1>

  <p>Hola, {{nombre}}</p>
  <p> Hola, segunda persona {{objeto.name}}</p>
</div> -->

<!--
@for (nombre of nombres; track $index) {
  <ul class="list-group container">
    <div class="list-group-item list-group-item-secondary">El index es {{$index}}: {{nombre.name}} {{nombre.edad}}</div>
    @if (nombre.gusto) {
      <p class="list-group-item list-group-item-primary">A {{nombre.name}} le gusta: {{nombre.gusto}}</p>
    }
  </ul>

} -->


